<!-- Footer  -->
<!-- <div class="footerdiv">
      <div class="ftdiv">
          <div class="creditstext">Made By: <a href="https://github.com/EstHoon">Esther Hoon</a> & <a href="https://github.com/jwongwj">Jayden Wong</a><div class="footertext">Institute of System Science - Graduate Diploma in System Analysis Batch 46</div></div>
      </div>
    </div> -->

<div class="showDiv" (mouseenter)="mouseHovering()">
    <img class="infoImg" src="assets/icons8-info-64.png">
</div>

<div class="creditsDetails" [hidden]="checkCreditsImg()" (mouseleave)="mouseLeft()" (click)='clickout($event)'>
    <div class="createdBy">
        <h5>Created By</h5>
    </div>
    <div>
        <a href="https://github.com/jwongwj">
        <img class="jayden" src="assets/Star_wars_longshadow-03.png"></a>
        <a href="https://github.com/esthoon">
        <img class="esther" src="assets/Star_wars_longshadow-06.png"></a>
    </div>
    <div class="creditsName">
        <div class="cnJayden"><a href="https://github.com/jwongwj">Jayden</a></div>
        <div class="cnEsther"><a href="https://github.com/esthoon">Esther</a></div>
        <div class="cnSchool">NUS Graduate Diploma in System Analysis</div>
    </div>
</div>