/* Nav Bar */
.navbar-url{
    color: white;
}

.navbar-url:hover{
    background: lightyellow;
    color: maroon;
    border-radius: 25px;
}
/* End of Nav Bar */

/* Header */
.Headerdiv{
    text-align:center;
}

.HeaderStarWars{
    width: 50%;
    height: 250px;
    opacity: 0.7;
    z-index: 1;
}
/* End of Header */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }