
<!-- Our Header -->
<div>
    <div class="Headerdiv">
        <img src="../../src/Images/HeaderStarWars.jpg" class="HeaderStarWars">
    </div>


    <!-- Details -->
    <div class="detailsdiv">
        <div class="contentdiv">
            <app-details></app-details>
        </div>
    </div>
    <div class="footerdiv">
        <div class="ftdiv">
            <div class="creditstext">Made By: <a href="https://github.com/NoohEst">Esther Hoon</a> & <a href="https://github.com/jwongwj">Jayden Wong</a><div class="footertext">Institute of System Science - Graduate Diploma in System Analysis Batch 46</div></div>
        </div>
      </div>
</div>
