.indexExpansion p{
    cursor: pointer;
}

.indexExpansion mat-panel-description{
    text-align: center;
    display: inline;
    font-weight: bold;
}

#noOpacity{
    background: black;
    opacity: 1; 
}