<div>
  <h2>Categories</h2>
</div>

<div class="noOpacity">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of arr; index as i" class='indexExpansion'>
        <mat-expansion-panel-header (click)='loadList(item);' [hidden]="isOpened==true&&item!=property">
          <mat-panel-description>
                <ngx-spinner
                bdColor = "rgba(0,0,0,0.5)"
                size = "default"
                color = "#ffffff"
                type = "ball-atom"
                ></ngx-spinner>
              {{ item | titlecase }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="pList" *ngFor="let element of list" (click)='setDetails(element)'>{{element.name}}</p>
    <mat-action-row>
      <tr>
          <td>
              <input #box type="number" [value]='currentPage' style="width: 30px; text-align: center" (keyup.enter)="getList(item,box.value)" [hidden]='totalPages==undefined'>/{{totalPages}}
          </td>
        <td>
            <button mat-button [disabled]='currentPage<=1' (click)="prevClick(item)">Previous</button>
        </td>
        <td>
            <button mat-button [disabled]='currentPage>=totalPages || totalPages==undefined' (click)="nextClick(item)">Next</button>
        </td>
      </tr>
      </mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>

</div>