@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    background: url('../src/Images/BackgroundStarWars.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;    
    overflow: scroll;
}

/* To disable website if Javascript is disabled */
.noJavascript{
    text-align: center;
    color: white;
    vertical-align: 50%;
    font-size: 30px;
    padding-top: 20%;

}

.noJavascriptMain{
    background-color: black;
    opacity: 0.7;
    height: 723px;
}