.others img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.others table{
    display: inline;
}

.picture{
    height: 50%;
    width: 50%;
}

/* .perCategory{
    border: 2px solid white; 
    border-radius: 5px; 
    margin: 10px;
    padding: 5px;
} */

.detailsArray{
    font-size:14px;
    border: 1px dotted white; 
    border-radius: 5px; 
    width:25%; 
    height: 100%; 
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 3px;
}

.divHover :hover{
    border-color: green; 
    border-width: 3px;
    background: lightskyblue;
}

.labelArray{
    height: 100px;
}

.title{
    text-align: center; 
    font-weight: bold; 
    border: 2px solid white; 
    border-radius: 10px; 
    width:80%; 
}