.others img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.others table{
    display: inline;
}

.picture{
    height: 100%;
    width: 100%;
    max-width: 250px;
}

/* .perCategory{
    border: 2px solid white; 
    border-radius: 5px; 
    margin: 10px;
    padding: 5px;
} */

.detailsArray{
    font-size:14px;
    border: 1px dotted white; 
    border-radius: 5px; 
    width:25%; 
    height: 100%; 
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    overflow:hidden;
}


.detailsArray :hover{
    border-color: green; 
    border-width: 3px;
    background: lightskyblue;
}


.labelArray{
    height: 50px;
    display: inline-block 0 1 auto;
    font-weight: bold;
    font-size:small;
    font-size:calc(8px + (14 - 8) * (100vw - 100px) / (1440 - 100));
}

.title{
    text-align: center; 
    font-weight: bold; 
    border: 2px solid white; 
    border-radius: 10px; 
    width:80%; 
}

.imageArray{
    padding: 10%;
}

.header{
    font-weight: bold; 
    font-size: xx-large;
    margin-top:10px;
    margin-bottom: 10px;
}

.imageTop{
    align-content: center;
    padding-top: 5%;
    margin:0;
}

.tableCss{
    display: inline-block;
    align-content: center;
}

.editForm button{
    width: 100%;
    font-weight: bold;
    outline:5px auto;
    outline-color: dodgerblue;
}

.editForm{
    display: inline-block;
}

.tableCss button{
    font-weight:bold;
}