<div (window:resize)="onResize($event)">
    <ngx-spinner
    bdColor = "rgba(13,13,13)"
    size = "default"
    color = "#fffbfb"
    type = "ball-atom"
    ></ngx-spinner>
<div class='imageTop' *ngIf='(arraySingle[1]!=undefined && arraySingle[1].key=="episode id")||this.innerWidth<1100'>
    <img src="{{imgSrc}}" onerror="this.src='assets/NoImage.jpg'" class="picture">
</div>
<table class='tableCss'>
    <tr>
        <td style="width:50%" *ngIf='arraySingle[1]!=undefined &&arraySingle[1].key!="episode id"&&this.innerWidth>=1100'>
            <div class='imageTop'>
                <img src="{{imgSrc}}" onerror="this.src='assets/NoImage.jpg'" class="picture">
            </div>
        </td>
        <td>
            <div *ngFor="let labelItems of arraySingle; let i=index">
                <div *ngIf="i == 0">
                    <div class="header">{{ labelItems.value }}</div>
                </div>
            
                <div *ngIf="i > 0 && labelItems.value!=null">
                    <label>
                        {{labelItems.key | titlecase}}: 
                        {{ labelItems.value.toString()  | titlecase }}  
                    </label>
                </div>
            </div>
            

            <div class='editForm'>
                <form (ngSubmit)="editDetails()">
                    <tr>
                        <textarea [disabled]="editInfo" [(ngModel)]="infoDetails" name="infoDetails"></textarea>
                    </tr>
                    <tr>
                        <button mat-stroked-button color='accent'> {{ buttonName }}</button>
                    </tr>
                </form>
            </div>
        </td>
    </tr>
</table>

<div *ngFor="let detailed of arrayArray" class="others">
    <div class="perCategory">
            <br>
            <label class="title">{{detailed[0] | titlecase }}</label>
            <br>
            <div *ngFor="let images of detailed[1]" class="detailsArray">
                <div (click)="redirectDetails(images.newUrl)">
                    <div class="imageArray">
                        <img src='{{images.imgSrc}}' alt="Avatar" onerror="this.src='assets/NoImage.jpg'">
                    </div>
                    <div class="labelArray">
                        {{images.name}}
                    </div>
                </div>
            </div>
    </div>
</div>

<table class="tableCss">
    <tr>
        <td>
            <button mat-raised-button color='primary' (click)="share()">Share</button>
        </td>
        <td>
            <button mat-raised-button color='accent' (click)="returnToList()">Back</button>
        </td>
    </tr>
</table>
</div>